services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: fintrack_mssql
    restart: unless-stopped
    env_file: .env
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
    ports:
      - "${HOST_DB_PORT}:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
